node_modules/
coverage/
dist/
deno_dist/
docs/
db*/
.db*/
*.session.sql
.clinic/
chain-specs/
**/.yarn/cache
**/.yarn/versions
**/.yarn/*.gz
.eslintcache
.npmrc
tsconfig*buildinfo
.env
settings.json
*.log